const stripe = require('stripe')('sk_test_xxxxxxxxx');

async function createCharge() {
  const charge = await stripe.charges.create({
    amount: 2000,
    currency: 'usd',
    source: 'tok_visa',
    description: 'Test Charge'
  });

  console.log(charge);
}

createCharge();
